@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: #111;
    font-family: 'Noto Sans KR', sans-serif;
}
ul,ol,li{
    list-style: none;
}
.w100{
    width: 100%;
}
.w1400{
    width: 1400px;
    margin: 0 auto;
}
.main_tit{
    font-size: 48px;
    font-weight: 700;
    color: #313131;
    text-align: center;
}
.red_btn{
    border: 1px solid #ed1c24;
    color: #ed1c24;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.red_btn:hover{
    background-color: #ed1c24;
    color: #fff;
}
.more_btn{
    position: absolute;
    padding: 10px;
    padding-right: 30px;
    background-image: url(../img/btn_arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ddd;
    border-radius: 20px;
}


/* header */
header{
    background-color: #f6f6f6;
}
.head_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
}
.head_wrap>h1{
    width: 150px;
}
.head_wrap>h1 img{
    width: 100%;
}
.head_wrap>ul{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #dbdbdb;
}
.login{
    font-size: 12px;
    display: block;
    color: #fff;
    background-color: #ed1c24;
    padding: 5px 16px;
    border-radius: 30px;
}
.contract{
    font-weight: 700;
    color: #004c97;
}


/* nav */
nav{
    background-color: #fff;
}
.nav_wrap{
    display: flex;
    justify-content: space-between;
}
.gnb{
    width: 1295px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gnb>li{
    width: 183px;
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    font-weight: 500;
    color: #313131;
    position: relative;
}
.gnb>li::after{
    content:"";
    display: flex;
    width: 0%;
    height: 2px;
    background-color: #ed1c24;
    position: absolute;
    left: 50%;
    bottom: 3px;
    transform: translate(-50%);
    transition: 0.3s;
}
.gnb>li:hover{
    color: #ed1c24;
    font-weight: 700;
}
.gnb>li:hover::after{
    width: 90%;
}
.search_wrap{
    width: 105px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.ham_btn>div{
    width: 25px;
    height: 2px;
    background-color: #111;
    margin-top: 7px;
}
.ham_btn>div:first-child{
    margin-top: 5px;
}


/* 더보기 */
.sub_menu{
    width: 100%;
    height: 0;
    background-color: #fff;
}
.nav_menu_inner{
    width: 1200px;
    margin: 0 auto;
}
.inner_in{
    display: flex;
    justify-content: space-between;
}
.inner_in li{
    padding: 5px 0;
    font-weight: 500;
    color: #6c6b6b;
}


/* main */
.swiper{
    width: 100%;
    height: 100%;
}
.ost_slide{
    background-color: #efefef;
}
.ost_slide>.img{
    position: absolute;
    left: calc(50% - 600px);
    top: 50px;
    background-size: cover;
}
.ost_slide>.txt{
    position: absolute;
    right: calc(50% - 600px);
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
}
.sec1 .swiper-slide{
    height: auto;
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.sec1 .swiper-slide h2{
    margin-top: 80px;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: -3.4px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 13%;
}
.sec1 .swiper-slide p{
    margin-top: 60px;
    font-size: 44px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -1.76px;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 13%;
}
.sec1 .swiper-slide>img:not(.img,.txt){
    width: 100%;
}
.mySwiper>.swiper-pagination{
    width: 200px;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    border-radius: 40px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 13%;
    bottom: 10%;
}
.sec1 .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    opacity: 1;
    transition: 0.3s;
}
.sec1 .swiper-pagination-bullet-active{
    width: 34px;
    height: 12px;
    background-color: #FF404B;
}


/* 2nd section */
.sec2 ul{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 140px;
}
.sec2 ul div{
    width: 120px;
    height: 120px;
    border-radius: 30px;
}
.sec2 li:first-child div{
    margin-left: 2px;
    background-color: #Ff404b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.sec2 ul div:hover:not(.customer){
    border: 1px solid #FF404B;
}
.sec2 ul>li:first-child img{
    width: 100%;
}
.sec2 ul div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 ul p{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: -1px;
}


/* 3th section */
.sec3{
    overflow: hidden;
    padding: 90px 0;
    background-color: #dde8f3;
}
.newSwiper{
    width: 1200px;
    overflow: visible;
}
.newSwiper .swiper-wrapper{
    transition: 0.5s ease-in-out;
}
.newSwiper .swiper-slide{
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newSwiper .swiper-slide>img{
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.newSwiper>.swiper-pagination{
    display: flex;
    gap: 10px;
    border-radius: 40px;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.sec3 .swiper-pagination-bullet{
    width: 11px;
    height: 11px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    background-color: #999;
}
.sec3 .swiper-pagination-bullet-active{
    width: 34px;
    background-color: #FF404B;
}
.sec3 .swiper_button_next{
    width: 40px;
    height: 77px;
    background-image: url(../img/btn_swiper_next_black.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    right: calc(50% - 690px);
    top: 45%;
}
.sec3 .swiper_button_prev{
    width: 40px;
    height: 77px;
    background-image: url(../img/btn_swiper_prev_black.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    left: calc(50% - 690px);
    top: 45%;
}
.sec3 .swiper-slide-active{
    transform: scale(1);
}
.sec3 .swiper-slide-prev, .sec3 .swiper-slide-next{
    transform: scale(0.75);
    opacity: 0.2;
}


/* 4th section */
.sec4{
    padding: 140px 0;
}
.sec4>article{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.sec4 figure{
    width: 290px;
}
figure>div>img{
    width: 100%;
}
figcaption>h3{
    font-size: 24px;
    font-weight: 700;
    color: #313131;
    letter-spacing: -0.96px;
}
figcaption>p{
    height: 47px;
    color: #313131;
    letter-spacing: -0.64px;
}
figcaption>ul{
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
}
.price{
    color: #ed1c24;
    font-size: 24px;
}
.sec4 figcaption>ul>li:last-child{
    width: 84px;
    height: 36px;
    line-height: 34px;
}
.sec4>p{
    margin: 40px 0 60px;
}
.sec4>div>img{
    width: 100%;
}


/* 5th section */
.sec5{
    padding: 90px 0;
    background-color: #293648;
}
.sec5>h2{
    color: #fff;
}
.sec5>article{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 550px 400px 400px;
    grid-template-rows: 337px auto 215px;
    gap: 16px 20px;
    grid-template-areas:
    "box1 box2 box3"
    "box1 box4 box5"
    "box6 box4 box5";
}
.sec5>article>div{
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 30px;
    position: relative;
}
/* .box6을 제외한 div의 ::before 라는 의미
   ::before와 ::after는 동일한 가상 선택자
   왼쪽이나 위에는 비포, 오른쪽이나 아래에는 애프터를 많이 씀 */
.sec5>article>div:not(.box6)::before{
    content: counter(box);
    display: block;
    width: 48px;
    height: 48px;
    background-color: #666;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    color: #fff;
    /* top-left, 박스의 왼쪽 모서리부터 시계방향 순서 */
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 16px;
    top: 0;
}
.sec5>article>div.box1::before{
    width: 60px;
    height: 60px;
    background-color: #ed1c24;
    line-height: 60px;
    font-size: 32px;
}
.sec5>article>div:not(.box6){
    counter-increment: box;
}
.sec5 figure>div{
    height: 145px;
    text-align: center;
}
.sec5 .box1>figure>div{
    height: 220px;
    text-align: center;
}
.sec5 .box1 figcaption>ul{
    padding-top: 60px;
}
.sec5 figure>div>img{
    height: 100%;
    width: auto;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.sec5>article>.box6{
    grid-area: box6;
    padding: 0;
}
.sec5 figcaption>ul>li:last-child{
    width: 100px;
    height: 40px;
    /* 라인헤잇 줄때 보더값 빠져야해서 38 */
    line-height: 38px;
}
.sec5 .box1 figcaption>ul>li:last-child{
    width: 120px;
    height: 48px;
    line-height: 46px;
}
.sec5>p{
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: -0.92px;
}


/* 6th section */
.sec6{
    padding: 140px 0 60px;
}
.top_box{
    height: 50px;
    position: relative;
}
.top_box>span{
    height: 43px;
    line-height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ddd;
    padding: 0 20px;
    border-radius: 30px;
}
.top_box>span::after{
    content: "";
    margin-left: 10px;
    width: 6px;
    height: 11px;
    display: inline-block;
    background-image: url(../img/btn_arrow_right.svg);
}
.sec6>article{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.sec6 figure{
    width: calc(25% - 30px);
    padding: 30px 14px;
    border: 1px solid #efefef;
    border-radius: 10px;
}
.sec6 figure:hover{
    border: 1px solid #ed1c24;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.sec6 figcaption{
    padding: 0 16px;
}
.sec6 figcaption>ul{
    display: block;
}
.sec6 figcaption>ul>li:last-child{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    line-height: 38px;
}


/* 7th section */
.sec7{
    padding: 140px;
    position: relative;
}
.sec7 .top_box{
    margin-top: 40px;
}
.sec7 .top_box>ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sec7 .top_box>ul>li{
    width: 150px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #313131;
    border: 1px solid #ddd;
    border-left: 0;
}
.sec7 .top_box>ul>li:first-child{
    border-left: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}
.sec7 .top_box>ul>li:last-child{
    border-radius: 0 4px 4px 0;
}
.tab_space{
    padding-top: 40px;
    position: relative;
    display: none;
}
.sec7 .top_box>ul>.show{
    color: #fff;
    background-color: #ed1c24;
}
.view{
    display: block;
    display: flex;
}
.tab_space>div{
    display: flex;
}
.OA{
    width: 240px;
}
.OA div{
    width: 240px;
    height: 240px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.OA div::after{
    content: "";
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    background-image: url(../img/ico_cart.png);
    right: 20px;
    bottom: 20px;
}
.OA div>img{
    width: 100%;
}
.macbook, .svbot, .ipad{
    height: 100%;
}
.OA h3{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.72px;
    color: #313131;
}
.OA h4{
    margin-top: 4px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.8px;
    color: #EA4248;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec7 .swiper_button_next{
    width: 40px;
    height: 77px;
    background-image: url(../img/btn_swiper_next_black.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    right: 150px;
    bottom: 300px;
}
.sec7 .swiper_button_prev{
    width: 40px;
    height: 77px;
    background-image: url(../img/btn_swiper_prev_black.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    left: 150px;
    bottom: 290px;
}
.sec7 .swiper-button-disabled{
    opacity: 0.2;
}